body::-webkit-scrollbar {
      display: none;
    }
body {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
    }
th,td{
      border-collapse: collapse;
    }
    *{
      box-sizing: border-box;
    }